<!doctype html>
<html>
  <head>
    <title>new page</title>
  </head>
<body>
<h1>WOW thats a weird way to make a list</h1>
<ul>
  <% squares = [1,4,9,16,25,36] %>
  <% squares.each do |square| %>
  <Li><%= square %> </Li>
  <% end%>
</ul>
</body>  
</html>